version: '3.8'

services:
  nomami-app:
    build:
      context: ./nomami-app
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: ${DATABASE_URL}
      NEXT_PUBLIC_STACK_PROJECT_ID: ${NEXT_PUBLIC_STACK_PROJECT_ID}
      NEXT_PUBLIC_STACK_PUBLISHABLE_CLIENT_KEY: ${NEXT_PUBLIC_STACK_PUBLISHABLE_CLIENT_KEY}
      STACK_SECRET_SERVER_KEY: ${STACK_SECRET_SERVER_KEY}
      ASAAS_API_KEY: ${ASAAS_API_KEY}
      TELEMEDICINE_API_USER: ${TELEMEDICINE_API_USER}
      TELEMEDICINE_API_PASSWORD: ${TELEMEDICINE_API_PASSWORD}
      DATABASE_POOL_URL: ${DATABASE_POOL_URL}
      TELEMEDICINE_WEBHOOK_URL: ${TELEMEDICINE_WEBHOOK_URL}
    restart: unless-stopped