services:
  nomami-app:
    build:
      context: ./nomami-app
      dockerfile: Dockerfile
    environment:
      DATABASE_URL: ${DATABASE_URL}
      NEXT_PUBLIC_STACK_PROJECT_ID: ${NEXT_PUBLIC_STACK_PROJECT_ID}
      NEXT_PUBLIC_STACK_PUBLISHABLE_CLIENT_KEY: ${NEXT_PUBLIC_STACK_PUBLISHABLE_CLIENT_KEY}
      STACK_SECRET_SERVER_KEY: ${STACK_SECRET_SERVER_KEY}
      ASAAS_API_KEY: ${ASAAS_API_KEY}
      TELEMEDICINE_API_USER: ${TELEMEDICINE_API_USER}
      TELEMEDICINE_API_PASSWORD: ${TELEMEDICINE_API_PASSWORD}
      DATABASE_POOL_URL: ${DATABASE_POOL_URL}
      TELEMEDICINE_WEBHOOK_URL: ${TELEMEDICINE_WEBHOOK_URL}
    restart: unless-stopped
    depends_on:
      - db

  db:
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
      - ./db/init:/docker-entrypoint-initdb.d/
    restart: unless-stopped

volumes:
  postgres_data:
